nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $nav-height;
    z-index: 3;
    .nav__content {
        display: flex;
        flex-direction: row;
        width: $page-width;
        height: $nav-height;
        justify-content: space-around;
        align-items: center;
        img {
            width: 8em;
            height: 8em;
            margin-right: 4em;
        }
    }
    h1 {
        font-size: 1.8em;
        color: $main-color;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}